body {
  margin: 0;
  padding: 0;
  background-color: #0f0f0f;
  color: #f0f0f0;
  font-family: "Segoe UI", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
section {
  background: #161616;
  padding: 20px;
  border-radius: 12px;
  margin: 25px 0;
}

.conteudo {
  text-align: center;
  padding: 40px 30px;
  max-width: 600px;
}

.foto {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  border: 3px solid #00ffcc;
}

h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.subtitulo {
  font-size: 16px;
  margin-bottom: 20px;
  color: #ccc;
}

h2 {
  margin-bottom: 15px;
  font-size: 22px;
  color: #00ffcc;
}
.projeto-card {
  background: #1c1c1c;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  text-align: left;
}

.projeto-card a {
  display: inline-block;
  margin-top: 10px;
  color: #00ffcc;
  text-decoration: none;
  font-weight: bold;
}

.projeto-card a:hover {
  transform: translateY(-3px);
  transition: transform 0.2s ease;
}
.habilidades ul {
  list-style: none;
  padding: 0;
}

.habilidades li {
  margin: 8px 0;
  color: #ddd;
}
.contato a {
  display: inline-block;
  margin: 5px 10px;
  color: #00ffcc;
  text-decoration: none;
  font-weight: bold;
}

.contato a:hover {
  text-decoration: underline;
}
